.title{
    animation: animacion 2.5s steps(35), transparencia .5s step-end alternate;
    border-right: 3px solid;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    border-right: 3px solid;
    user-select: none;
}

@keyframes animacion {
    from {
      width: 0px
    }
    to {
        width: 56%;
      }
  }
      
  @keyframes transparencia {
    50% {
      border-color: transparent
    }
  }

.Box{
    padding-top: 20px;
    margin-bottom: 15px;
    user-select: none;
}

.BoxContentLibro {
    transition: transform 0.3s;
    border-radius: 7px;
}

.BoxContentLibro:hover {
    transform: scale(1.05);
    transform-origin: center;
    box-shadow: 0px 0px 0px 3.5px #1976d2;
}

.loader{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 200px;
    height: 200px;
}